<ol>
{{#each employees}}
  <li class='card-panel orange white-text'>
    <article>
      <div>
        {{firstname}} {{lastname}}
        <a class="right light-blue btn" href="/dashboard/{{employee.id}}"><i class="material-icons left">perm_contact_calendar</i> View Calendar</a>
      </div>
    </article>
  </li>
{{/each}}
</ol>